/* ROLES */
/* #roles-table{
    width: 100%;
}

#roles-table td{
    padding: .5rem 1rem;
}

#roles-table tr:hover td {
    background-color: aliceblue;
}


#roles-table th{
    padding: .5rem 1rem;
    background-color: #454545;
    color: white;
}

#roles-table tr {
    font-size: 0.9rem;
    background-color: white;
} */

#roles-table tr>td:nth-of-type(2) {
    width: 32px;
}

#roles-table tr>td:nth-of-type(3) {
    width: 150px;
}

#button-box {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-bottom: 1rem;
}