#blocks-table td.center {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button-box {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-bottom: 1rem;
}
